[Unit]
  Description=node exporter
  After=network.target

[Service]
  User=node_exporter
  Group=node_exporter
  Type=simple
  ExecStart=/usr/local/bin/node_exporter \
  --collector.systemd

[Install]
  WantedBy=multi-user.target